{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
        <!-- META INFO -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <!-- PAGE TITLE -->
        <title>Samake | Samake - Personal Portfolio </title>
    
        <!-- META KEYWORDS AND DESCRIPTION -->
        <!-- <meta name="keywords" content="HTML5 Template, one page template, leanding page, themeforest template, ckavart, ckav, template, multipurpose template" />
        <meta name="description|truncatewords:15" content="Blon - Personal Portfolio Template">
        <meta name="author" content="Samake"> -->
    
        <!-- META VIEW PORT -->
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    
        <!-- FAVICONS -->
        <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
        <link rel="apple-touch-icon" href="{% static 'images/favicons/apple-touch-icon.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicons/apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicons/apple-touch-icon-114x114.png' %}">
    
        <!-- WEB FONT-FAMILY -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
    
        <!-- VENDOR FONT ICONS CSS -->
        <link rel="stylesheet" href="{% static 'fonticons/fontawesome/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'fonticons/et-line/et-line-font.css' %}">
        <link rel="stylesheet" href="{% static 'fonticons/material-webfont/css/materialdesignicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'fonticons/pixeden/pe-icon-7-stroke.css' %}">
        <link rel="stylesheet" href="{% static 'fonticons/simplelineicons/css/simple-line-icons.css' %}">
    
        <!-- COMMON VENDOR CSS -->
        <link rel="stylesheet" href="{% static 'vendor/animate-css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/sweetalert/sweetalert2.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/jarallax/jarallax.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/owlcarousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}">
        
        <!-- PAGE SPECIFIC VENDOR CSS -->
        <link rel="stylesheet" href="{% static 'vendor/ripple-effects/ripple.css' %}">
    
        <!-- TEMPLATE COMMON CSS -->
        <link rel="stylesheet" href="{% static 'css/ckav-main.css' %}">
        <link rel="stylesheet" href="{% static 'css/ckav-elements.css' %}">
        <link rel="stylesheet" href="{% static 'css/ckav-helper.css' %}">
        <link rel="stylesheet" href="{% static 'css/ckav-responsive.css' %}">
    
        <!-- DEMO SPECIFIC TEMPLATE CSS -->
    
        <!-- TEMPLATE THEME CSS -->
    
        <!-- TEMPLATE USER CUSTOM CSS -->
        <link rel="stylesheet" href="{% static 'css/template-custom.css' %}">
    </head>
    
<body class="ckav-body tooltip-light">

    <!--
    ************************************************************
    * PAGE LOADER
    *************************************************************
    -->
    <div id="loader">
        <div class="load-three-bounce">
            <div class="load-child bounce1"></div>
            <div class="load-child bounce2"></div>
            <div class="load-child bounce3"></div>
        </div>
    </div>
    <!-- ************** END : PAGE LOADER **************  -->


    <div class="ckav-body">

        <!--
        ************************************************************
        * HEADER
        *************************************************************
        -->
        <header class="header-area intro-element" data-ckav-smd="padding-l-0 padding-r-0 width-100">
            <div class="container-fluid">

                <div class="row align-items-center">
                    <div class="col-md-3">

                        <!-- LOGO -->
                        <div class="logo-wrp align-left flex-cl typo-light">
                            <a href="#" class="logo-link display-iflex width-px-60 margin-r-10" data-ckav-smd="width-px-60">
                                <img src="{% static 'images/photo_profil.jpg' %}" alt="logo" class="radius-full border-3 color-border-white">
                            </a>
                            <h1 class="heading small display-iflex margin-b-0">{{ about.nom }}</h1>
                        </div>

                    </div>
                    <div class="col-md-9"> 
                        
                        <!-- MENU ICON -->
                        <div class="menu-icon-wrp style-1 radius-full dark mobile-only display-none square-40 flex-cc zindex-9 bgcolor-white" data-ckav-smd="display-flex">
                            <div class="menu-icon">
                                <div class="bar"></div>
                            </div>
                        </div>

                        <div class="navigation-area intro-element flex-cr" data-ckav-smd="flex-cc margin-t-20">

                            <!-- NAVIGATION LIST -->
                            <ul class="navigation-ul display-iflex" data-ckav-smd="display-block">
                                <li class="navigation-li">
                                    <a href="#about" class="navigation-a section-post">
                                        <span class="icon"><i class="icon-book-open"></i></span>
                                        <span class="text">A propos <i class="fas fa-sort-up"></i></span>
                                    </a>
                                </li>
                                <li class="navigation-li">
                                    <a href="#services" class="navigation-a section-post">
                                        <span class="icon"><i class="icon-settings"></i></span>
                                        <span class="text">Services <i class="fas fa-sort-up"></i></span>
                                    </a>
                                </li>
                                <li class="navigation-li">
                                    <a href="#portfolio" class="navigation-a section-post">
                                        <span class="icon"><i class="icon-camera"></i></span>
                                        <span class="text">Portfolio <i class="fas fa-sort-up"></i></span>
                                    </a>
                                </li>
                                <li class="navigation-li">
                                    <a href="#blog" class="navigation-a section-post">
                                        <span class="icon"><i class="icon-note"></i></span>
                                        <span class="text">Blog <i class="fas fa-sort-up"></i></span>
                                    </a>
                                </li>
                                <li class="navigation-li">
                                    <a href="#contact" class="navigation-a section-post">
                                        <span class="icon"><i class="icon-envelope"></i></span>
                                        <span class="text">Contact <i class="fas fa-sort-up"></i></span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        </header>
        <!-- ************** END : HEADER **************  -->

        <!--
        ************************************************************
        * HOME AREA
        *************************************************************
        -->
        <div class="home-area intro-section flex-cc" data-ckav-smd="flex-cc">

            <div class="container-fluid zindex-1 intro-element">

                <div class="row">
                    <div class="col-md-5 offset-md-7">
                        
                        <!-- INTRO TEXT -->
                        <div class="intro-text typo-light" data-ckav-smd="align-center">
                            <!-- <h2 class="heading small bold-900 text-upper" data-ckav-smd="small">Samake</h2> -->

                            <div class="carousel-widget carouselnav-1 light large" data-nc-smd="align-center" 
                            data-carousel-items="1"
                            data-carousel-itemrange="false"
                            data-carousel-autoplay="true" 
                            data-carousel-margin="30" 
                            data-carousel-loop="false"
                            data-carousel-nav="false"
                            data-carousel-dots="false"
                            data-carousel-center="false"
                            data-carousel-heightauto="true"
                            data-carousel-mousedrag="false"
                            data-carousel-touchdrag="false">
                                <div class="owl-carousel">
                                    
                                    <!-- ITEM -->
                                    
                                    {% for metier in metiers %}
                                        <div class="item">
                                            <div class="inneritem">
                                                <h2 class="heading xlarge bold-900 text-upper" data-ckav-smd="large">Je suis {{ metier.titre }}</h2>
                                            </div>
                                        </div>
                                    {% endfor %}
                                        

                                </div>
                            </div>
                            <p class="heading-sub width-70" data-ckav-smd="width-100 mini">
                                Pour recevoir mes actu veuillez cliquer sur ce boutton pour vous ajoutez à la newsletter
                            </p>
                            <a href="#popup-content" class="set-popup button button-xlarge color-button-default color-hov-button-white solid radius-10" data-ckav-smd="button-medium">Cliquez</a>
                        </div>

                    </div>
                </div>
                

            </div>

            <!--=================================
            = BACKGROUND HOLDER
            ==================================-->
            <div class="bg-holder zindex-0">
                
                <!-- OVERLAY -->
                <b data-bgholder="overlay" class="full-wh zindex-2" data-linear-gradient="rgba(0,0,0, 0)|rgba(0,0,0, 0.5)"></b>
                
                <canvas id="ripple-canvas" class="full-wh zindex-3"></canvas>
                    <div id="ripple-wrapper">
                </div>

                <!-- BACKGROUND IMAGE -->
                <b data-bgholder="background-image" class="full-wh bg-cover bg-cc zindex-1" data-bg-image="{% static 'images/technology.jpg' %}"></b> 
                
            </div>
            <!-- ======= END : BACKGROUND HOLDER =======  -->

        </div>
        <!-- ************** END : HOME AREA **************  -->

         <!--
        ************************************************************
        * SOCIAL AREA
        *************************************************************
        -->
        <div class="social-area intro-element">
            <a href="#social" class="section-post button button-icon color-button-white border-op-light-2 radius-full"><i class="icon-share"></i></a>
        </div>
        <!-- ************** END : SOCIAL AREA **************  -->

        <!--
        ************************************************************
        * POP UP WRAPPER
        *************************************************************
        -->
        <div class="popup-area">

            <!--=================================
            = POPUP OVERLAY
            ==================================-->
            <div class="popup-overlay" data-bg-color="rgba(0,0,0,0.8)">

            </div>
            <!-- ======= END : POPUP OVERLAY =======  -->

            <!--=================================
            = ABOUT SECTION
            ==================================-->
            <div id="about" class="popup-section about-section typo-light">
                
                <!-- CLOSE BUTTON -->
                <div class="close-section">
                    <a href="#" class="button button-icon color-button-white fs-30 border-op-light-2 radius-full"><i class="pe-7s-close"></i></a>
                </div>

                <div class="inner-section animated" data-anim-in="fadeIn" data-anim-out="fadeOut">
                    <div class="container">
                        
                        <div class="row align-items-center gt60">
                            <div class="col-lg-6">
                                <div class="image-wrapper animated" data-anim-in="fadeInRight" data-ckav-smd="margin-b-30">
                                    <img class="radius-10" src="{% static 'images/photo_profil.jpg' %}" alt="about image">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="section-heading-wrapper" data-ckav-smd="align-center">
                                    <h2 class="heading-section text-upper default bold-900 animated" data-anim-in="fadeInUp" data-ckav-smd="medium">A propos de moi</h2>
                                    <p class="heading-section-sub small margin-b-0 animated" data-anim-in="fadeInUp|0.1" data-ckav-smd="mini">
                                        Je suis <strong class="color-text-default">{{ about.nom }}</strong> {{ about.description }} 
                                    </p>
                                </div>
                                <hr class="color-border-default margin-tb-30 width-px-50 margin-l-0 border-t-2 animated" data-anim-in="fadeInUp|0.2" data-ckav-smd="margin-auto">
                                <p class="margin-b-20 animated" data-anim-in="fadeInUp|0.2">
                                    Ici parler de mes activités
                                </p>
                                
                            </div>
                        </div>

                        <div class="row padding-t-100">
                            <div class="col-md-12">
                                <div class="section-heading-wrapper align-center width-70 margin-auto" data-ckav-smd="align-center width-100">
                                    <h2 class="heading-section text-upper default bold-900 animated" data-anim-in="fadeInUp" data-ckav-smd="medium">Mes Skills</h2>
                                    <p class="heading-section-sub small margin-b-0 animated" data-anim-in="fadeInUp|0.1" data-ckav-smd="mini">
                                        Lorem amet consectetur adipisicing elit. Et, quaerat architecto iusto uaerat architecto iusto nostrum dignissimos consectetur sit corrupti quos sed. 
                                    </p>
                                </div>

                                <hr class="color-border-default margin-tb-30 width-px-50 margin-auto margin-l-0 border-t-2 animated" data-anim-in="fadeInUp|0.2" data-ckav-smd="margin-auto">
                            </div>
                        </div>

                        <div class="row gt60 align-items-center">
                            <div class="col-lg-5 align-right" data-ckav-smd="align-left margin-b-40">
                                
                                {% for skill in skills %}
                                <a href="#" class="button color-button-default solid radius-10 small margin-lr-5 margin-tb-5">{{ skill.titre}}</a>
                                {% endfor %}
                            </div>

                            <div class="col-lg-7">
                                
                                {% for skill in skills %}
                                    <div class="skills-info skills-info-01 margin-b-40 animated fadeInUp" data-animate="fadeInUp|0.1">
                                        <h3 class="skills-name heading-content mini margin-b-10">{{ skill.titre }}</h3>
                                        <div class="skills-bar glass-light-02">
                                            <div class="skills-progress width-{{ skill.pourcentage }}">
                                                <div class="skills-per bgcolor-default flex-cc">
                                                    <span class="numbers">{{ skill.pourcentage }}%</span>
                                                    <span class="icon color-text-default"><i class="fas fa-sort-down"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                    
                            </div>
                        </div>

                        <div class="row padding-t-80" data-ckav-smd="align-left">
                            <div class="col-lg-3 col-md-6">
                                <div class="counter-box info-obj center img-t align-center gap-30 small padding-30 glass-light-01 radius-4" data-ckav-sm="mini width-80 margin-auto">
                                    <div class="img"><span class="iconwrp text-default"><i class="icon-profile-male"></i></span></div>
                                    <div class="info">
                                        <h2 class="heading-content margin-0" data-ckav-smd="default"><span class="count">{{ stats.client_heureux }}</span></h2>
                                        <p class="margin-0">Clients Heureux</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-3 col-md-6">
                                <div class="counter-box info-obj center img-t align-center gap-30 small padding-30 glass-light-01 radius-4" data-ckav-sm="mini width-80 margin-auto">
                                    <div class="img"><span class="iconwrp text-default"><i class="icon-layers"></i></span></div>
                                    <div class="info">
                                        <h2 class="heading-content margin-0"><span class="count">{{ stats.projet_realises }}</span></h2>
                                        <p class="margin-0">Projets Réalisés</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-3 col-md-6">
                                <div class="counter-box info-obj center img-t align-center gap-30 small padding-30 glass-light-01 radius-4" data-ckav-sm="mini width-80 margin-auto">
                                    <div class="img"><span class="iconwrp text-default"><i class="icon-alarmclock"></i></span></div>
                                    <div class="info">
                                        <h2 class="heading-content margin-0"><span class="count">{{ stats.heures_works }}</span></h2>
                                        <p class="margin-0">Heures de Travail</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-3 col-md-6">
                                <div class="counter-box info-obj center img-t align-center gap-30 small padding-30 glass-light-01 radius-4" data-ckav-sm="mini width-80 margin-auto">
                                    <div class="img"><span class="iconwrp text-default"><i class="icon-pencil"></i></span></div>
                                    <div class="info">
                                        <h2 class="heading-content margin-0"><span class="count">{{ articles.count }}</span></h2>
                                        <p class="margin-0">Articles Publiés</p>
                                    </div>
                                </div>
                            </div>
    
                        </div>

                    </div>
                </div>
            </div>
            <!-- ======= END : ABOUT SECTION =======  -->

            <!--=================================
            = BLOG SECTION
            ==================================-->
            <div id="blog" class="popup-section blog-section">
                
                <!-- CLOSE BUTTON -->
                <div class="close-section">
                    <a href="#" class="button button-icon color-button-white fs-30 border-op-light-2 radius-full"><i class="pe-7s-close"></i></a>
                </div>

                <div class="inner-section animated" data-anim-in="fadeIn" data-anim-out="fadeOut">
                    <div class="container">
                        
                        <div class="section-heading-wrapper align-center margin-b-60 width-px-700 margin-auto typo-light" data-ckav-smd="width-100">
                            <h2 class="heading-section text-upper default bold-900 animated" data-anim-in="fadeInUp" data-ckav-smd="medium">Recents articles </h2>
                            <p class="heading-section-sub small margin-b-0 animated" data-anim-in="fadeInUp|0.1" data-ckav-smd="mini">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, quaerat architecto iusto nostrum dignissimos consectetur sit corrupti quos sed. 
                            </p>
                        </div>

                        <div class="carousel-widget carouselnav-1 large width-90 margin-auto animated" data-anim-in="fadeIn|0.1" data-ckav-smd="width-100 align-center" 
                        data-carousel-items="1"
                        data-carousel-itemrange="0,1|420,1|600,2|768,3|992,3|1200,3"
                        data-carousel-autoplay="true" 
                        data-carousel-margin="30" 
                        data-carousel-loop="false"
                        data-carousel-nav="true"
                        data-carousel-dots="true"
                        data-carousel-center="false">
                            <div class="owl-carousel">
                                
                                {% for article in articles %}
                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="inneritem">

                                            <div class="image-infobox image-infobox-01 space-default medium align-left color-border-default radius-4 animated fadeInUp" data-animate="fadeInUp|0.2">
                                                <div class="image flex-bc typo-light align-center" data-bg-image="{{ article.image.url }}">
                                                    <div class="image-content">
                                                        <h3 class="imgbox-title heading-content mini bold-700 text-upper">{{ article.titre }}</h3>
                                                    </div>
                                                    <div class="image-overlay" data-bg-color="rgba(0,0,0,0.5)" style="background-color: rgba(0, 0, 0, 0.5);"></div>
                                                </div>
                                                <div class="text bgcolor-white shadow-01 align-center">
                                                    <p>
                                                        {{ article.description|truncatewords:15 }}
                                                    </p>
                                                    <a href="#blog-{{ article.id }}" class="set-popup button color-button-default button-mini solid radius-10">Lire Plus</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ======= END : BLOG SECTION =======  -->

            <!--=================================
            = SERVICES SECTION
            ==================================-->
            <div id="services" class="popup-section services-section typo-light">
                
                <!-- CLOSE BUTTON -->
                <div class="close-section">
                    <a href="#" class="button button-icon color-button-white fs-30 border-op-light-2 radius-full"><i class="pe-7s-close"></i></a>
                </div>

                <div class="inner-section animated" data-anim-in="fadeIn" data-anim-out="fadeOut">
                    <div class="container">
                        
                        <div class="row align-items-center gt60">
                            <div class="col-lg-8">
                                <div class="row gt10" data-ckav-smd="margin-b-0">
                                    
                                    {% for service in services %}
                                        <div class="col-lg-6 animated margin-b-10" data-anim-in="fadeInUp|0.1" data-ckav-smd="margin-b-30">
                                            <div class="info-obj radius-10 margin-b-0 center info-box-01 img-t padding-40 gap-20 mini bgcolor-default">
                                                <div class="img"><span class="iconwrp color-text-white"><i class="pe-7s-rocket"></i></span></div>
                                                <div class="info">
                                                    <h3 class="heading-content bold-700 text-upper margin-b-10 tiny">{{ service.titre }}</h3>
                                                    <p class="margin-b-0">{{ service.description|truncatewords:15 }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                            <div class="col-lg-4" data-ckav-smd="margin-t-30">
                                <div class="section-heading-wrapper" data-ckav-smd="align-center">
                                    <h2 class="heading-section text-upper default bold-900 animated" data-anim-in="fadeInRight|0.1" data-ckav-smd="medium">Services</h2>
                                    <p class="heading-section-sub small margin-b-0 animated" data-anim-in="fadeInRight|0.1" data-ckav-smd="mini">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, quaerat architecto iusto nostrum dignissimos consectetur sit corrupti quos sed. 
                                    </p>
                                </div>
                                <hr class="color-border-default margin-tb-30 width-px-50 margin-l-0 border-t-2 animated" data-anim-in="fadeInRight|0.2" data-ckav-smd="margin-auto margin-tb-20">
                                <p class="margin-b-20 animated" data-anim-in="fadeInRight|0.2" data-ckav-smd="align-center">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque, non? Minima, nobis velit officia est autem veniam. Quidem, omnis asperiores? Temporibus repudiandae blanditiis sit dolore tempore. Illo voluptatem sunt maxime.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ======= END : SERVICES SECTION =======  -->

            <!--=================================
            = PORTFOLIO SECTION
            ==================================-->
            <div id="portfolio" class="popup-section portfolio-section typo-light">
                
                <!-- CLOSE BUTTON -->
                <div class="close-section">
                    <a href="#" class="button button-icon color-button-white fs-30 border-op-light-2 radius-full"><i class="pe-7s-close"></i></a>
                </div>

                <div class="inner-section animated" data-anim-in="fadeIn" data-anim-out="fadeOut">
                    <div class="container">
                        
                        <div class="portfolio-widget grid-portfolio portfolio-row grid-03" data-zoom-gallery="yes" data-ckav-md="grid-02" data-ckav-sm="grid-01">
                            
                            {% for portfolio in portfolios %}
                            <div class="portfolio-col animated" data-anim-in="fadeInUp|0.1">
                                <figure class="hover-box hover-box-01">
                                    
                                    <!-- OVERLAY -->
                                    <div class="overlay flex-bl typo-light" data-linear-gradient="rgba(31,34,41,0.5)|rgba(31,34,41,1)">
                                        <div class="info-text text-center">
                                            <a href="{{ portfolio.image.url }}" class="zoom-img button button-icon radius-full margin-lr-5 color-button-default solid"><i class="icon-size-fullscreen"></i></a>
                                            <a href="{{ portfolio.lien }}" target="_blank" class="button button-icon radius-full margin-lr-5 color-button-default solid"><i class="icon-link"></i></a>
                                            <h3 class="heading-content tiny bold-600 margin-b-5 margin-t-30">{{ portfolio.titre }}</h3>
                                            <p class="mr-0 fs12 op-08">{{ portfolio.description|truncatewords:10 }}</p>
                                        </div>
                                    </div>
    
                                    <!-- IMAGE -->
                                    <img src="{{ portfolio.image.url }}" alt="portfolio image">
    
                                </figure>
                            </div>
                            {% endfor %}
                            
                        </div>

                    </div>
                </div>
            </div>
            <!-- ======= END : PORTFOLIO SECTION =======  -->

            <!--=================================
            = CONTACT SECTION
            ==================================-->
            <div id="contact" class="popup-section contact-section typo-light">
                
                <!-- CLOSE BUTTON -->
                <div class="close-section">
                    <a href="#" class="button button-icon color-button-white fs-30 border-op-light-2 radius-full"><i class="pe-7s-close"></i></a>
                </div>

                <div class="inner-section animated" data-anim-in="fadeIn" data-anim-out="fadeOut">
                    <div class="container">
                        
                        <div class="row gt60 align-items-center">
                            <div class="col-lg-6">
                                <div class="map-wrapper height-px-300 margin-b-40 animated" data-anim-in="fadeInUp">
                                    <iframe class="width-100 height-100 border-none radius-10" src="{{ about.googlemap y}}" allowfullscreen></iframe>
                                </div>

                                <div class="info-obj margin-b-0 info-box-01 img-l gap-20 mini animated" data-anim-in="fadeInUp|0.1" data-ckav-smd="margin-b-30 align-left">
                                    <div class="img"><span class="iconwrp"><i class="pe-7s-mail"></i></span></div>
                                    <div class="info">
                                        <h3 class="heading-content tiny bold-600 margin-b-5">Email</h3>
                                        <p class="margin-b-0">{{ about.email }}</p>
                                    </div>
                                </div>
    
                                <hr class="border-op-light-2 margin-tb-20">
    
                                <div class="info-obj margin-b-0 info-box-01 img-l gap-20 mini animated" data-anim-in="fadeInUp|0.2" data-ckav-smd="margin-b-30 align-left">
                                    <div class="img"><span class="iconwrp"><i class="pe-7s-headphones"></i></span></div>
                                    <div class="info">
                                        <h3 class="heading-content tiny bold-600 margin-b-5">Phone</h3>
                                        <p class="margin-b-0">{{ about.numero }}</p>
                                    </div>
                                </div>
    
                                <hr class="border-op-light-2 margin-tb-20">
    
                                <div class="info-obj margin-b-0 info-box-01 img-l gap-20 mini animated" data-anim-in="fadeInUp|0.3" data-ckav-smd="margin-b-30 align-left">
                                    <div class="img"><span class="iconwrp"><i class="pe-7s-map-2"></i></span></div>
                                    <div class="info">
                                        <h3 class="heading-content tiny bold-600 margin-b-5">Address</h3>
                                        <p class="margin-b-0">{{ about.lieu }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">

                                <div class="section-heading-wrapper" id="contact" data-ckav-smd="align-center margin-t-30">
                                    <h2 class="heading-section text-upper default bold-900 animated" data-anim-in="fadeInRight|0.1" data-ckav-smd="medium margin-b-0">Drop us line</h2>
                                </div>
                                <hr class="color-border-default margin-tb-30 width-px-50 margin-l-0 border-t-2 animated" data-anim-in="fadeInRight|0.2" data-ckav-smd="margin-auto">
                                <form action="#" class="form-widget form-control-op-light-02 animated" data-anim-in="fadeInRight|0.2" data-ckav-smd="align-center">
                                    <div class="field-wrp">
                                        <!-- <input type="hidden" name="to" value="c.kav.art@gmail.com"> -->
            
                                        <div class="row gt10">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input class="form-control radius-10" data-label="Name" required="" data-msg="Please enter name." type="text" v-model="nom" placeholder="Entrez votre nom">
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input class="form-control radius-10" data-label="Email" required="" data-msg="Please enter email." type="email" v-model="email" placeholder="Entrez votre email">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <input class="form-control radius-10" required="" data-label="Phone" data-msg="SVP entrez votre numero." type="text" v-model="numero" placeholder="Entrez votre numero">
                                        </div>
            
                                        <div class="form-group">
                                            <input class="form-control radius-10" data-label="Subject" type="text" v-model="sujet" placeholder="le sujet">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control radius-10" data-label="Message" required="" data-msg="SVP Entrez votre message." v-model="message" placeholder="Entrez votre message" cols="30" rows="6"></textarea>
                                        </div>
                                    </div>
                                    <button v-on:click="sendContact" class="button radius-10 solid color-button-default margin-0"><i class="fa fa-envelope-o"></i> Envoyer</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ======= END : CONTACT SECTION =======  -->

            <!--=================================
            = SOCIAL SECTION
            ==================================-->
            <div id="social" class="popup-section social-section typo-light">
                
                <!-- CLOSE BUTTON -->
                <div class="close-section">
                    <a href="#" class="button button-icon color-button-white fs-30 border-op-light-2 radius-full"><i class="pe-7s-close"></i></a>
                </div>

                <div class="inner-section animated" data-anim-in="fadeIn" data-anim-out="fadeOut">
                    <div class="container">
                        
                        <div class="row">
                            <div class="col align-center animated" data-anim-in="fadeInUp|0.1" data-ckav-smd="margin-b-30">
                                <a href="{{ about.facebook }}" class="button button-icon-xlarge color-button-white border-op-light-2 radius-10"><i class="fab fa-facebook-f"></i></a>
                            </div>

                            <div class="col align-center animated" data-anim-in="fadeInUp|0.2" data-ckav-smd="margin-b-30">
                                <a href="{{ about.twitter }}" class="button button-icon-xlarge color-button-white border-op-light-2 radius-10"><i class="fab fa-twitter"></i></a>
                            </div>

                            <div class="col align-center animated" data-anim-in="fadeInUp|0.3" data-ckav-smd="margin-b-30">
                                <a href="{{ about.linkedin }}" class="button button-icon-xlarge color-button-white border-op-light-2 radius-10"><i class="fab fa-linkedin-in"></i></a>
                            </div>

                            <div class="col align-center animated" data-anim-in="fadeInUp|0.4" data-ckav-smd="margin-b-30">
                                <a href="{{ about.instagram }}" class="button button-icon-xlarge color-button-white border-op-light-2 radius-10"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ======= END : SOCIAL SECTION =======  -->

        </div>
        <!-- ************** END : POP UP WRAPPER **************  -->

        <!--
        ************************************************************
        * FOOTER
        *************************************************************
        -->
        <div class="footer-area intro-element">
            <div class="container">
                <p class="c-text">                
                    <a class="c-text" href="#" target="_blank">Samake - Personal Portfolio</a> © <script>document.write(new Date().getFullYear());</script>
                </p>
            </div>
        </div>
        <!-- ************** END : FOOTER **************  -->

        <!--
        ************************************************************
        * SUBSCRIBE POPUP
        *************************************************************
        -->
        <div id="popup-content" class="white-popup-block popup-content animate fadeInDown mfp-hide radius-6">
            <div class="pop-header padding-b-0" data-ckav-sm="padding-30 padding-b-0">
                <div class="square-90 iconwrp fs-80 margin-0 color-text-default"><i class="pe-7s-bell"></i></div>
                <h2 class="heading-section default bold-900 text-upper mr-0" data-ckav-sm="small">Newsletter</h2>
            </div>
            <div class="pop-body padding-t-20" data-ckav-sm="padding-30 padding-t-30">
                
                <div class="form-block" id="app">

                    <form action="#" class="form-widget form-control-op-02">
                        <div class="field-wrp">

                            <div class="row gt10">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control radius-6" data-label="Name" required="" data-msg="Please enter name." type="text" v-model="nomnews" placeholder="Entrez votre nom">
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control radius-6" data-label="Email" required="" data-msg="Please enter email." type="email" v-model="emailnews" placeholder="Entrez votre email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button v-on:click="sendNewsletter" class="button radius-6 solid color-button-default width-100 margin-0"><i class="fa fa-envelope-o"></i> Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- ************** END : SUBSCRIBE POPUP **************  -->

        <!--
        ************************************************************
        * BLOG SINGLE
        *************************************************************
        -->
        
        {% for article in articles %}
            <div id="blog-{{ article.id }}" class="white-popup-block single-blog popup-content animate fadeInDown mfp-hide radius-6">
                <div class="pop-header padding-b-0 position-rel height-px-500" data-ckav-sm="padding-30 padding-b-0">
                    <div class="bg-holder zindex-0">
            
                        <!-- OVERLAY -->
                        <b data-bgholder="overlay" class="full-wh zindex-2" data-linear-gradient="rgba(0,0,0, 0)|rgba(0,0,0, 0.5)"></b>
                        
                        <!-- BACKGROUND IMAGE -->
                        <b data-bgholder="background-image" class="full-wh bg-cover bg-tc zindex-1" data-bg-image="{% static 'images/blog-bg-01.jpg' %}"></b>
                        
                    </div>
                </div>
                <div class="pop-body padding-tb-60" data-ckav-sm="padding-30 padding-t-30">
                    
                    <div class="container align-left">
                        <div class="section-heading-wrapper margin-auto" data-ckav-smd="width-100">
                            <p class="color-text-default bold-600">January 22, 2018 -- <span>LOGOS</span></p>
                            <h2 class="heading-section text-upper small bold-600" data-ckav-smd="small">{{ article.titre }}</h2>
                            {{ article.description }}
                        </div>

                        <div class="social-section margin-t-30">
                            <div>
                                <a href="#" class="button button-icon radius-full margin-r-10 color-button-dark border-op-1"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="button button-icon radius-full margin-r-10 color-button-dark border-op-1"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="button button-icon radius-full margin-r-10 color-button-dark border-op-1"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#" class="button button-icon radius-full margin-r-10 color-button-dark border-op-1"><i class="fab fa-dribbble"></i></a>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
        {% endfor %}
        <!-- ************** END : BLOG SINGLE **************  -->

    </div>
    
<!-- COMMON VENDOR SCRIPTS -->
<script src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery-migrate-3.0.0.min.js' %}"></script>
<script src="{% static 'vendor/popper/umd/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'vendor/sweetalert/sweetalert2.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="{% static 'vendor/jarallax/jarallax.min.js' %}"></script>
<script src="{% static 'vendor/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/swiper/js/swiper.min.js' %}"></script>
<script src="{% static 'vendor/jQuery-viewport-checker/jquery.viewportchecker.min.js' %}"></script>
<script src="{% static 'vendor/enquire/enquire.min.js' %}"></script>
<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'vendor/isotope/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/isotope/packery-mode.pkgd.min.js' %}"></script>

<!-- PAGE SPECIFIC VENDOR SCRIPTS -->
<script src="{% static 'vendor/ripple-effects/ripple.js' %}"></script>

<!-- TEMPLATE COMMON SCRIPTS -->
<script src="{% static 'js/ckav-main.js' %}"></script>

<!-- VueJS SCRIPTS -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
        
        const contact = new Vue({
        el: "#contact",
        data() {
            return {
                error:false,
                message:"",
                
                // contact variables
                nom: "",
                email: "",
                sujet: "",
                numero: "",
                message: "",
            }
        },
        delimiters: ["${", "}"],
        mounted() {

        },
        methods: {
           
            sendContact: function() {
                let formData = new FormData();
                formData.append('nom', this.nom);
                formData.append('email', this.email);
                formData.append('sujet', this.sujet);
                formData.append('numero', this.numero);
                formData.append('message', this.message);
                axios.defaults.xsrfCookieName = 'csrftoken';
                axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                axios.post("{% url 'sendContact' %}", formData, {
                  headers: {
                    "Content-Type": "multipart/form-data",
                  },
                })
                .then((response) => {
                    if (response.data.succes){
                        this.error = false
                        Swal.fire({
                            icon: 'success',
                            title: `<b>${response.data.message}</b>`,
                            timer: 4000,
                        });
                    }
                    else {
                        this.error = true
                        Swal.fire({
                            icon: 'error',
                            title: `<b>${response.data.message}</b>`,
                            timer: 4000,
                        });
                    }
                    console.log(response.data)
                })
                .catch((err) => {
                    
                    this.is_submit = false
                    console.log(err);
                })
            },
        }
    });

    const app = new Vue({
        el: "#app",
        data() {
            return {
                error:false,
                message:"",
                // newsletter variables
                nomnews: "",
                emailnews: "",

                // contact variables
                nom: "",
                email: "",
                sujet: "",
                numero: "",
                message: "",
            }
        },
        delimiters: ["${", "}"],
        mounted() {

        },
        methods: {
            
            sendNewsletter: function() {
                let formData = new FormData();
                formData.append('nom', this.nomnews);
                formData.append('email', this.emailnews);
                axios.defaults.xsrfCookieName = 'csrftoken';
                axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                axios.post("{% url 'sendNewsletter' %}", formData, {
                  headers: {
                    "Content-Type": "multipart/form-data",
                  },
                })
                .then((response) => {
                    if (response.data.succes){
                        Swal.fire({
                            icon: 'success',
                            title: `<b>${response.data.message}</b>`,
                            timer: 4000,
                        });
                    }
                    else {
                        this.error = true
                        Swal.fire({
                            icon: 'error',
                            title: `<b>${response.data.message}</b>`,
                            timer: 4000,
                        });
                    }
                    console.log(response.data)
                })
                .catch((err) => {
                    
                    this.is_submit = false
                    console.log(err);
                })
            },
            
        }
    }); 
</script>

</body>
</html>